* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto auto;
	

}
.grid-item {
	border: all;
	padding: 30px 0;
	font-size: 25px;
	cursor: pointer;
	background-color: #f4f1de;
}
.key--equal {
	grid-column: 4;
	grid-row: 2/6;
	background-color: #faa307;
}
.key--operator {
	background-color: #f4f1d9;
}
.display__calculator {
	width: 1000px;
	height: 50px;
}